@using System.ComponentModel.DataAnnotations;
@model string

@{
    // We get the value of the MaxLength annotation of the model...
    int maxLength = 0;
    var stringLengthAdapter = ViewContext.ViewData.ModelMetadata
         .GetValidators(ViewContext.Controller.ControllerContext)
         .OfType<StringLengthAttributeAdapter>()
         .FirstOrDefault();
    if (stringLengthAdapter != null)
    {
        var parms = stringLengthAdapter
                      .GetClientValidationRules()
                      .First()
                      .ValidationParameters;
        if (parms.ContainsKey("max"))
        {
            maxLength = (int)parms["max"];
        }
    }
    // We get now the id and the name of the <textarea> to be edited...</textarea>
    var id = ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("");
    var name = ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("");

}

@Html.TextAreaFor(model => model, new { cols = 50, rows = 5 })
@if (maxLength > 0)
{
    <div id="msg-textarea-@(id)" class="textarea-chars">Maximum @maxLength characters</div>
    <script>
        $(function () {
            var limit = $('#@id').limit;
          if (limit) {
              $("#msg-textarea-@id")
                .html("<span id='left@(id)'></span> characters left");
            $('#@id').limit('@maxLength', '#left@(id)');
         }
      });
    </script>
}