@model GiveCamp.ViewModels.Home.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<section>
    <header>
        <h3>Contact Us</h3>
    </header>
    @using (Html.BeginForm("Contact", "Home", null, FormMethod.Post, new { @class = "form-horizontal" })) {
        
        @Html.EditorForModel();
        
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    }
</section>

<section>
    <header>
        <h3>via Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:bod@dallasgivecamp.org">bod@dallasgivecamp.org</a></span>
    </p>
    <p>
        <span class="label">Project Management:</span>
        <span><a href="mailto:pm@dallasgivecamp.org">pm@dallasgivecamp.org</a></span>
    </p>
    <p>
        <span class="label">Public Relations:</span>
        <span><a href="mailto:pr@dallasgivecamp.org">pr@dallasgivecamp.org</a></span>
    </p>
</section>
