
@{
    ViewBag.Title = "Contact";
}

<section>
    <header>
        <h3>Contact Us</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:bod@dallasgivecamp.org">bod@dallasgivecamp.org</a></span>
    </p>
    <p>
        <span class="label">Project Management:</span>
        <span><a href="mailto:pm@dallasgivecamp.org">pm@dallasgivecamp.org</a></span>
    </p>
    <p>
        <span class="label">Public Relations:</span>
        <span><a href="mailto:pr@dallasgivecamp.org">pr@dallasgivecamp.org</a></span>
    </p>
</section>
