@{
    ViewBag.Title = "History";
}

<h2>Dallas GiveCamp History</h2>

<p>GiveCamp roots came from the “We are Microsoft” event that was created by Toi Wright and Chris Koenig in 2008. In 2011 the event was rebranded Dallas GiveCamp when Shawn Weisfeld stepped up as the lead organizer. In 2011 we ran 2 events (one in January and one in October) and ran another event in October of 2012. 

<h3>GiveCamp Charities</h3>

<h4>2012</h4>
<ul>
    <li></li>
</ul>
<h4>2011 October</h4>
<ul>
    <li></li>
</ul>
<h4>2011 January</h4>
<ul>
    <li></li>
</ul>
</p>