@{
    ViewBag.Title = "RoleInfo";
}

<h2>RoleInfo</h2>

<a class="btn btn-success btn-large" href="@Url.Action("Create", "Volunteer")">Volunteer Now!</a>

<p>put information here about all the roles </p>

