body {
    margin:10px;
}

.carousel-indicators .active {
    background-color: #51a351;
}

.carousel-indicators li {
    background-color: #fff;
}

.text-success {
    font-weight: bold;
}
.text-error {
    font-weight: bold;
}