<div class="sidebar">
    <div class="text-center">
        <a class="btn btn-success" href="@Url.Action("RoleInfo", "Charity")">Charities Apply Now!</a>
    </div>
    <div class="text-center">
        <a class="btn btn-success" href="@Url.Action("RoleInfo", "Volunteer")">Volunteers Apply Now!</a>
    </div>
    <div class="text-center">
        <a class="btn btn-success" href="@Url.Action("SponsorInfo", "Home")">Become a Sponsor</a>
    </div>
    <div class="text-center">
        <iframe src="/twitter.html" height="600" width="200" frameborder="0" />
    </div>
</div>
